.slider {
  display: flex;

  &__listing {
    list-style-type: none;
  }

  &__list {
    cursor: pointer;
    padding: 0 0rem 1rem 1rem;

    img {
      width: 6rem;
      height: 6rem;
      object-fit: contain;
      object-position: center;
      border: 1px solid #a2a6ac;
      border-radius: 2px;

      &:hover {
        border-color: #e77600;
      }
    }
  }

  &__right {
    padding: 2rem;
    img {
      width: 60rem;
      height: 60rem;
      object-fit: contain;
      object-position: center;
    }
  }
}
