.header {
  height: var(--header-height);
  background-color: var(--theme-color-2);
  color: var(--light-font-color);
  position: fixed;
  width: 100%;

  &__container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
}
